@import 'open-color/open-color.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './variables.scss';

#company-page {
  .candidate {
    > h3 {
      margin: 20px 0 0 0;
      padding: 0 0 0 10px;
      font-size: 1rem;
    }
    > ul {
      margin: 0;
      padding: 0;
      list-style: none;
      // border-top: 1px solid $oc-gray-3;
    }
    .company {
      display: block;
      padding: 10px 20px 20px ($company-logo-width+20px);
      // border-bottom: 1px solid $oc-gray-3;
      position: relative;
      @extend %clearfix;

      .thumb {
        position: absolute;
        left: 10px;
        top: 10px;
        width: $company-logo-width;
        height: $company-logo-width;

        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
        }

        .holder {
          width: inherit;
          height: inherit;
          display: block;
          background: $oc-gray-3;
          border-radius: $company-logo-width/11;
        }
      }

      h2 {
        margin: 2px 0 0 0;
        padding: 0;
        @extend %font-gothic-a1;
        font-size: 0.9rem;
        font-weight: 600;
        color: $oc-gray-9;

        small {
          margin-left: 3px;
          color: $oc-gray-7;
          font-weight: 500;
        }
      }

      .description {
        margin-top: 5px;
        padding-left: 1px;
        color: $oc-gray-7;
        font-size: .8rem;
        line-height: .8rem;
        max-height: .8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}